<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="10">  <!--mức độ hiển thị log khi chạy test (0 = ít log, 10 = chi tiết nhất).-->
    <test name="Chrome" >
        <classes >
            <class name="" >
                <methods >
                    <include name=""/>
                </methods>
            </class>
        </classes>
    </test>
</suite>